
  div{
    font-size: xx-large;
    background-color: black;
    color: aqua;
    display:flex ;
    height: 20vh;
    width: 20vw;
    justify-content: space-around;
    align-items: center;
    flex-flow: column wrap;
   
}  
button{
    height: 9%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: aqua;
}